<!--
    BORROWED CODE :
    The following lines are based on the code from:
    https://github.com/gitdagray/django-course/blob/main/lesson12/myproject/templates/layout.html
    We have borrowed the base template.
-->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            MGL869
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        {% if user.is_authenticated %}
            <a href="{% url 'images:list' %}">Images list</a> |
            <a href="{% url 'images:upload' %}">Upload image</a> |
            <a href="{% url 'images:list_by_category' 0 %}">Buildings</a> |
            <a href="{% url 'images:list_by_category' 1 %}">Forest</a> |
            <a href="{% url 'images:list_by_category' 2 %}">Glacier</a> |
            <a href="{% url 'images:list_by_category' 3 %}">Mountain</a> |
            <a href="{% url 'images:list_by_category' 4 %}">Sea</a> |
            <a href="{% url 'images:list_by_category' 5 %}">Street</a> |
            <a href="#" onclick="submitLogoutForm()">Logout</a>
            <form id="logout-form" stype="display: None" action="{% url 'users:logout' %}" method="post">{% csrf_token %}</form>
        {% else %}
            <a href="{% url 'users:register' %}">Register</a> |
            <a href="{% url 'users:login' %}">Login</a>
        {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>

<!-- END OF BORROWED CODE -->